@font-face {
    font-family: "Outfit";
    src: url(Outfit-VariableFont_wght.ttf);
    
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family:"Outfit";
}
.post{
    background-color: white;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -200px 0 0 -200px;
    border-radius: 5%;
    box-shadow: 0 0 30px grey;
}
.attribution{
    margin: auto;
    width: 300px;
    height: 100px;
    font-size: 15px;
    text-align: center;
}
.image{
    margin: 20px;
    max-width: fit-content;
    height: auto;
}
.imgInDiv{
    border-radius: 5%;
}
.titlep{
    display: flex;
    align-content: center;
    font-size: x-large;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    }
.pText{
    color: hsl(220, 15%, 55%);
    font-family: Outfit;
    font-size: 15px;
}
